#!/usr/bin/env bash

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# shortcuts
alias d="cd ~/Documents/"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias gh="cd ~/Github"
alias gl="cd ~/Gitlab"
alias g="git"
alias h="history"
alias j="jobs"

# list files
alias l="ls -aG"
alias ll="ls -laG"

# remove .ds_store files everywhere
alias cleands="find . -type f -name '*.DS_Store' -ls -delete"

# update macos, ruby gems, homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# ip address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# empty trash
alias trash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# show/hide hidden files
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# url-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# dev
alias mm="bundle exec middleman"

alias dc="docker-compose"
alias dnuke="docker kill $(docker ps -q) && docker rm $(docker ps -a -q) && docker rmi $(docker images -q)"

alias yom="yarn cache clean && rm -rf node_modules && yarn install"
alias nom="npm cache clear && rm -rf node_modules && npm install"
alias bom="bower cache clean && rm -rf bower_components && bower install"
